language: php
php:
  - 5.6
  - 7
  - 7.1
addons:
  postgresql: "9.4"
notifications:
  email: false
services:
  - postgresql
before_script:
  - psql -c 'CREATE DATABASE test;' -U postgres
script: php -f test.php
